{% load sitetree %}
{% load theatre_tags %}

<ul class="menu-multilink">
	{% get_festival as festival %}
	{% if festival %}
		{% with '/'|add:festival.slug|add:'/' as url_string %}
			<li class="menu-multilink__item">
  				<a class="button menu-multilink__link" target="_blank" href="{{ url_string }}">{{ festival.name }}</a>
			</li>
		{% endwith %}
	{% endif %}
	{% for item in sitetree_items %}
		<li class="menu-multilink__item">
			<a class="button menu-multilink__link" href="{% sitetree_url for item %}" target="_blank" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
		</li>
	{% endfor %}
</ul>
