{% load sitetree %}
{% load theatre_tags %}

<div class="scroller__menu">
	<ul class="menu">
		{% get_festival as festival %}
		{% if festival %}
			{% with '/'|add:festival.slug|add:'/' as url_string %}
				<li class="menu__item scroller__menu-item{% if url_string == request.path %} is-active{% endif %} menu__item_unifest">
					{% if url_string == request.path %}
						<span class="menu__link">{{ festival.name }}</span>
					{% else %}
	      				<a class="menu__link" href="{{ url_string }}">{{ festival.name }}</a>
					{% endif %}
				</li>
			{% endwith %}
		{% endif %}
		{% for item in sitetree_items %}
			<li class="menu__item scroller__menu-item{% if item.is_current or item.in_current_branch %} is-active{% endif %}{% if item.alias == 'tickets' %} menu__item_tickets{% endif %}">
				{% if item.is_current or item.in_current_branch %}
					<span class="menu__link" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}</span>
				{% else %}
      				<a class="menu__link" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>