{% load static %}
{# {% load stm %} #}
{% load sitetree %}
{% load theatre_tags %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block title %}{% get_propertie 'site_name' %} | {% endblock %}</title>
  <meta name="description" content="{% block description %}Манекен - театральная студия Челябинска. Любительский театр (от слова «Любить»). Билеты на спектакли, перформансы, события, тренинги, лаборатории и фестивали. Студенческий театр{% endblock description %}">
  <meta name="keywords" content="{% block keywords %}Студия-Театр Манекен, Челябинск, ЮУрГУ, Спектакли, афиша, репертуар, билеты, молодежный театр, студенческий театр{% endblock keywords %}">

  {# <link rel="dns-prefetch" href="https//vk.com"> #}
  <link rel="dns-prefetch" href="https//timepad.ru">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://mc.yandex.ru">

  <meta name="robots" content="index, follow" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  {% if request.get_full_path == '/' %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% get_propertie 'site_name' %} | Афиша, спектакли, перформансы, события." />
    <meta property="og:description" content="Манекен - театральная студия Челябинска. Купить билеты на спектакли, перформансы, события, тренинги, лаборатории и фестивали." />
  {% endif %}

  <meta property="og:locale" content="ru_RU" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}" />  


  {% if 'localhost' in request.get_host %}

    <script src="http://localhost:35729/livereload.js"></script>

  {% else %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146877365-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-146877365-1');
    </script>

  {% endif %}

  {# <meta property="og:title" content="{{ site_name }}"> #}
  {# <meta name="twitter:title" content="{{ site_name }}"> #}

  {% include "include/favicon.html" %}

  {% block head %}
  {% endblock head %}

  <script src="{% static 'js/libs/aload.min.js' %}"></script>
  <script src="{% static 'js/libs/jquery-3.4.1.slim.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/libs/lightbox.min.css' %}">
  <link rel="preload" as="script" href="{% static 'js/webgl/WebGL.js' %}" id="webgl">
  <link rel="preload" as="script" href="https://timepad.ru/js/tpwf/loader/min/loader.js">
  <link rel="preload" as="script" href="{% static 'js/webgl/three.js' %}" id="threejs">
  <link rel="preload" as="script" href="{% static 'js/webgl/TGALoader.js' %}" id="tga">
  <link rel="preload" as="script" href="{% static 'js/webgl/WebGL.js' %}" id="webgl">

  <script src="{% static 'dist/dist.js' %}?v=3"></script>
  <link rel="stylesheet" href="{% static 'dist/dist.css' %}?v=3">

</head>

<body class="body">
  <header class="header header_scroll">
      <div class="header__fixed header__fixed_top" id="mainMenu">
        <div class="header__logo logo">
          <a href="{% if request.path == '/' %}#{% else %}/{% endif %}" class="logo__link">
            {# <span class="logo__text">Студия-Театр «Манекен»</span> #}
            <img class="logo__image" src="{% static 'i/stm_logo.png' %}" title="{% get_propertie 'site_name' %}" alt="Логотип">
          </a>
        </div>
        <div class="scroller">
          <div class="scroller__wrapper">
            {% sitetree_menu from "menu_main" include "trunk,topmenu" %}
          </div>
        </div>

        <!-- Add Scrollbar -->
        <div class="scroller-scrollbar"></div>
      </div>

      {% block header %}
        
      {% endblock header %}
      
  </header>

  <main class="main">
    <div class="content">
      <div class="container">
        <div class="singular-section">

        {% block content %}

        {% endblock content %}

        </div>
      </div>
    </div>

  </main>

  <footer class="footer">

    <div class="footer__social">
      {% sitetree_menu from "menu_social" include "trunk,topmenu" template "sitetree/menu_social.html" %}
    </div>

    <div class="footer__filonov">
      Художественный руководитель: <b>Владимир Фёдорович Филонов</b>
    </div>

    <div class="footer__block" itemscope itemtype="http://schema.org/Organization">

      <div class="footer__info">
        <div class="footer__left">
          <div class="footer__info-block">
            <div itemprop="name" class="footer__stm">Студия-Театр «Манекен»</div>
            <div class="footer__text-red">Южно-Уральский Государственный Университет</div>
          </div>
          <div class="footer__info-block" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <div class="footer__address" itemprop="streetAddress">Челябинск, Сони Кривой, 79-а</div>
            <div class="footer__text-red">(8 общ. ЮУрГУ) вход напротив "Белого рынка"</div>
          </div>
          <div class="footer__info-block">
            {% get_propertie 'phone' as phone %}
            <a href="tel:{% phone_print phone %}" class="footer__tel" itemprop="telephone">{{ phone }}</a>
            <a href="mailto:{% get_propertie 'email' %}" class="footer__mail" itemprop="email">{% get_propertie 'email' %}</a>
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__info-block">
            <div class="footer__tickets">Бронь и покупка билетов</div>
            {% get_propertie 'tickets_phone' as tickets_phone %}
            <a href="tel:{% phone_print tickets_phone %}" class="footer__maria">{{ tickets_phone }} Мария</a>
          </div>
          <div class="footer__info-block">
            <a href="https://studio-maneken.timepad.ru" class="footer__timepad" target="_blank">studio-maneken.timepad.ru</a>
          </div>
          <div class="footer__info-block">
            <div class="footer__text-white">Уважаемые зрители, обращаем Ваше внимание:</div>
            <div class="footer__text-red">опоздавшие в зал не допускаются!</div>
          </div>
        </div>
      </div>
      <div class="footer__info footer__info--jc-center">
        <br>
        <br>
        <p>Студия-Театр Манекен - театральная студия Челябинска.</p>
      </div>
      <div class="footer__info footer__info--jc-right">
        <br>
        <br>
        <p>Разработка: <a href="https://jenia0jenia.ru" target="_blank">jenia0jenia</a></p>
      </div>
    </div>

  </footer>

  {% if 'localhost' in request.get_host %}
    <script>
      console.log('there is no canvas');
    </script>
  {% else %}
    <div class="canvas cube">
      <canvas id="canvasCube" width="400" height="400"></canvas>
    </div>

    {% comment %}
      <div class="globe">
        <div class="earth">
          <div class="earth_loading"></div>
          <canvas class="earth_canvas" id="canvasEarth" width="345" height="345"></canvas>
        </div>
      </div>
    {% endcomment %}

    <!-- Yandex.Metrika counter -->
    <script>
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(55144651, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><img src="https://mc.yandex.ru/watch/55144651" style="position:absolute; left:-9999px;" alt="" /></noscript>
    <!-- /Yandex.Metrika counter -->
  {% endif %}

  <script src="{% static 'js/libs/lightbox-plus-jquery.min.js' %}"></script>

</body>
</html>
