{% load static %}
{% load cache %}
{#% load compress %#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ page.title }}{% endblock %} – Студия-Театр "Манекен" ЮУрГУ Челябинск</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3af1063e-5af6-4559-a0d3-4faa6beb2277&lang=ru_RU&load=Geolink,Map" type="text/javascript"></script>
    <script src="{% static 'dist/dist.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/dist.css' %}">
</head>
<body class="body">
    <main class="main">
        <div class="container">
            <header class="header">
                <div class="header__top">
                    <div class="social">
                        <a class="social__link" href="https://vk.com/studiom" target="_blank">Vk</a>
                        <a class="social__link" href="https://www.instagram.com/studio_maneken/" target="_blank">Inst</a>
                        <a class="social__link" href="http://www.twitter.com/manekenstudio">Twitter</a>
                        <a class="social__link" href="http://www.facebook.com/studiomaneken">Facebook</a>
                    </div>
                    <a href="/" class="logo"><img src="{% static 'i/logo_bre.jpg' %}" alt="" class="logo__image"></a>
                    <div class="tickets">
                        <!-- <button class="tickets__button">Билеты</button> -->
                        <a class="tickets__link" href="https://docs.google.com/forms/d/e/1FAIpQLSd_w92WXfTcKb6cVAMkFCnHv2qJCUID_pLFdr64sawH-Y53-g/viewform?formkey=dGJJWDlyN0Y4R1Nzcy1iSDhrNkZsZkE6MQ#gid=0">Билеты</a>
                        <a href="https://vk.com/id81237595">Таня</a> - <a href="tel:+79823141723">+7-982-31-41-723</a><br>
                        <a href="https://vk.com/id37364296">Мария</a> - <a href="tel:+79080662621">+7-908-06-62-621</a><br><br>
                        <span class="ymaps-geolink y-map__geolink" data-type="biz" data-description='Студия-Театр "Манекен"' data-bounds="[55.156552, 61.370844]">Челябинск, Сони Кривой 79а</span>
                    </div>
                </div>
                <div class="header__middle">
                    {% include 'include/main_menu.html' %}
                </div>
            </header>
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="footer">

        <div id="map" class="y-map">
            <iframe src="https://yandex.ru/map-widget/v1/-/CBRjRRR11C" width="100%" height="100%" frameborder="0" allowfullscreen="true"></iframe>
        </div>
    </footer>
</body>
</html>
