{% load static %}
{% load cache %}
{#% load compress %#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ page.title }}{% endblock %} – Студия-Театр "Манекен" ЮУрГУ Челябинск</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3af1063e-5af6-4559-a0d3-4faa6beb2277&lang=ru_RU&load=Geolink,Map" type="text/javascript"></script>
    <script src="{% static 'dist/dist.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/dist.css' %}">
</head>
<body class="body" style="height: 100vh; background-size: contain; background-position: center; background-repeat: no-repeat; 
    background-color: #faf6e9; background-image: url({% static 'i/stub.jpg' %});">
</body>
</html>
