{% load thumbnail %}

<div class="entry-card__wrap">
	<a class="entry-card artist-card" href="{% url 'theatre:artist_detail' artist.slug %}">
		<div class="entry-card__title artist-card__title">{{ artist.name }}</div>
		<div class="entry-card__hover"></div>
		<div class="entry-card__image artist-card__image">
		{% thumbnail artist.photo "220x220" crop="center" as im %}
	  		<img class="entry-card__image-img artist-card__image-img" src="{{ im.url }}" alt="{{ artist }}" width="{{ im.width }}" height="{{ im.height }}">
		  {% empty %}
				<p>No image</p>
	  	{% endthumbnail %}
		</div>
	</a>
</div>
