{% load thumbnail %}

<div class="artist-card__wrap">
	<a class="artist-card" href="{% url 'theatre:artist_detail' artist.slug %}">
		<div class="artist-card__title">{{ artist.name }}</div>
		<div class="artist-card__hover"></div>
		<div class="artist-card__image">
		{% thumbnail artist.photo "220x220" crop="center" as im %}
	  		<img class="artist-card__image-img" src="{{ im.url }}" title="Студия-Театр «Манекен» Челябинск STM {{ artist.name }} {{ artist.last_name }}" alt="{{ artist.name }} {{ artist.last_name }}" width="{{ im.width }}" height="{{ im.height }}">
		  {% empty %}
				<p>No image</p>
	  	{% endthumbnail %}
		</div>
	</a>
</div>
