{% load thumbnail %}
<div class="performance-card__wrap">
	<a class="performance-card" href="{% url 'theatre:performance_detail' performance.slug %}">
		<div class="performance-card__image">
			{% thumbnail performance.photo "920x300" crop="center" as im %}
		  		<img class="performance-card__image-img" src="{{ im.url }}" alt="Спектакль {{ performance }}" width="{{ im.width }}" height="{{ im.height }}">
		  {% empty %}
				<p>No image</p>
		  {% endthumbnail %}
		</div>
		<div class="performance-card__hover">
				<div class="performance-card__title">{{ performance }}</div>
			<div class="performance-card__hover-inner">
			</div>
			<div class="performance-card__hover-inner">
				<div class="performance-card__desc">{{ performance.description|safe|truncatewords:24 }}</div>
			</div>
		</div>
	</a>
</div>