.logo {
    height: 93%;

    &__text {
        color: #fff;
        vertical-align: middle;
        text-decoration: none;
        padding-right: 10px;
        font-weight: 600px;
    }
    
    &__link {
		display: flex;
        align-items: center;
		height: 100%;
    }

    &__image {
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        &__text {
            display: none;
        }
    }
}