.tickets {
    &__link {
        display: block;
        padding: 6px;
        margin: 20px auto;
        border: 2px solid $color-white;
        text-align: center;
        color: $color-white;
        font-size: 26px;
        text-transform: uppercase;
        background-color: transparent;
        transition: background-color .7s ease;
        cursor: pointer;

        &:hover {
            background-color: $color-orange;
        }
    }
}