.y-map {
    width: 100%;
    height: 400px;

    &__geolink {
        display: block;
        margin: 0 !important;
        padding: 0 10px 0 0;
        color: #fff !important;

        &::before,
        &::after {
            display: none !important;
        }
    }
}


