.footer {

	&_scroll {
    	padding-bottom: 50px;
	}

	&__fixed {
		/* display: flex;
		justify-content: center;
		    	align-items: center;
			    
			    position: fixed;
			    height: 50px;
			    width: 100%;
		
			    transition: all 0.2s ease-in-out;
		
			    z-index: 100; */
    }

    &_hide {
        background-color: $color-black;
        bottom: -45px;
    }
}