.main {

}

#timepad {
  padding: 20px;
  background-color: #fff;
}

.flex-block-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

@media only screen and (min-height: 400px) {
    .main {
    }
}
