.menu {
    list-style: none;
    padding: 0;
    margin: 0;
	
	display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 0;
    margin: 0;

    transition: all 0.2s ease-in-out;
    
    &__item {

        &_unifest {

            .menu__link {
                animation-duration: 3s;
                animation-name: unifest-link;
                /*background-color: $color-orange;*/

                &:hover {
                    background-color: $color-orange;
                    color: $color-black;
                }
            }
        }
    }

    &__link {
        display: block;
        color: $color-fade;
        text-transform: uppercase;
        padding: 8px 15px;
        text-decoration: none;
        transition: all 0.3s ease;
    	font-size: 16px;
        font-weight: 400;

        &:hover {
            color: white;
            background-color: $color-black;
        }
    }
}
/*
@media only screen and (max-width: 768px) {
    .menu {
        display: block;
        padding: 0;

        &__item {
        }
        &__link {
            font-size: 14px;
        }
    }
}*/