.performance {
	position: relative;

	&__container {
	}

	&__title {
	}

	&-card {
		&__hover {
			color: transparent;
			&-inner {
			}

			&:hover {
				color: $color-white;
				.performance-card__hover-inner {
				}
			}
		}

		&__title {

			padding: 30px 20px;
			font-size: 27px;
			text-align: center;
			font-weight: bold;

		}

		&__desc {

			padding: 30px 20px;
			font-size: 19px;

			p {
				margin: 0;
			}

		}

		&__image {
			width: 100%;

			&-img {
				width: 100%;
    			max-height: 400px;
				object-fit: cover;
			}
		}
	}
}