.performance {
	position: relative;

	&__container {
	}

	&__title {
	}

	&-card {
		&__hover {
			&-inner {
				color: transparent;
			}

			&:hover {
				.performance-card__hover-inner {
					color: $color-white;
				}
			}
		}

		&__title {

			padding: 30px 20px;
			font-size: 27px;
			text-align: center;
			font-weight: bold;

		}

		&__desc {

			padding: 30px 20px;
			font-size: 19px;

		}

		&__image {
			width: 100%;

			&-img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}