/* style.scss */

@import "normalize.scss";
@import "vars.scss";

/* modules */
@import "entry.scss";
@import "font.scss";
@import "animation.scss";
@import "header.scss";
@import "main.scss";
@import "logo.scss";
@import "button.scss";
@import "banner.scss";
@import "menu.scss";
@import "container.scss";
@import "content.scss";
@import "footer.scss";
@import "poster.scss";
@import "performance.scss";
@import "artist.scss";
@import "page.scss";
@import "tickets.scss";
@import "sticky.scss";
@import "y-map.scss";
@import "social-menu.scss";
@import "earth.scss";
@import "cube.scss";
@import "stfest.scss";
@import "u.scss";
@import "scroller.scss";

body {
    font-family: 'Montserrat', Roboto, Arial;
}

a {
}

.h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

.h2 {
	font-size: 24px;
}

.line-title {
	/*position: relative;*/

	&::before {
		display: none;
		content: '';
		width: 100%;
		position: absolute;
		height: 2px;
		background-color: $color-black;
		top: 10px;
		left: 0;	
	}
}

.singular-section {
	padding: 100px 0 40px;
}

.text_orange {
	color: $color-orange;
}

.text_red {
	color: $color-red;
}


@media screen and (max-width: 768px) {
	.singular-section {
		padding: 20px 0;
	}
}
