.u {
	&__title {
	    text-align: center;
	    color: $color-orange-light;
	    letter-spacing: 10px;
	    text-transform: uppercase;
	    font-size: 58px;
	}

	&__date {
	    text-align: center;
	    font-size: 49px;
	}

	&__request {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
		text-align: center;
		margin: 20px 0 40px;

		&-link {
			display: inline-block;
		}

		&-file {
			font-size: 24px;
		}
	}

	&__link {
		text-decoration: none;
		color: $color-orange-dark;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: $color-orange-light;
		}
	}

	&__form {

		&-container {
			max-width: 420px;
		}
		&-field {
			display: flex;
			padding: 10px 0;

			& label {
				width: 100px;
			}

			& textarea,
			& input {
				width: 100%;
				padding: 8px;
				border: 1px solid $color-orange;
				background-color: rgba(255, 255, 255, .8);
			}
		}
		&-submit {

		}
	}
}