$i: '../../static/i';

$color-white: rgba(255, 255, 255, .87);

$color-fade: rgba(255, 255, 255, .7);
$color-black: rgba(0, 0, 0, .87);

$color-gray: #757474;
$color-gray-lightest: #bbb;

$color-orange: orange;
$color-orange-light: #ff7600;
$color-orange-dark: #ad5408;
