$i: '../../static/i';

$color-white: rgba(255, 255, 255, .87);

$color-fade: rgba(255, 255, 255, .9);
$color-black: #161010;

$color-gray: #757474;
$color-gray-lightest: #bbb;

/*$color-orange: #f99d3e;*/
$color-orange: #ff7600;
$color-orange-light: #FF9840;
$color-orange-dark: #ad5408;
$color-orange-darker: #BF7230;

$color-blue: #01939A;

$color-aqua: #4cd6f2;

$color-red: #ff0042;

$color-base: #ff0042;
