$i: '../../static/i';

$color-white: rgba(255, 255, 255, .87);

$color-fade: rgba(255, 255, 255, .7);
$color-black: rgba(0, 0, 0, .87);

$color-gray: #757474;
$color-gray-lightest: #bbb;

/*$color-orange: #f99d3e;*/
$color-orange: #ff7600;
$color-orange-light: #FF9840;
$color-orange-dark: #ad5408;
$color-orange-darker: #BF7230;

$color-blue: #01939A;
$color-aqua: #4cd6f2;
$color-red: #e54235;
