{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}

{% block title %}{{ block.super }}Артист Студии-Театра Манекен - {{ object.last_name }} {{ object.name }}{% if object.middle_name %} {{ object.middle_name }}{% endif %}{% endblock %}
{#% load compress %#}

{% block content %}
	<h1 class="h1">
		{{ object.last_name }} {{ object.name }}{% if object.middle_name %} {{ object.middle_name }}{% endif %}
	</h1>

	{% if object.description %}
		<div>{{ object.description|safe }}</div>
	{% endif %}

	{% if object.year %}
		<div>В студии с {{ object.year }} года.</div>
	{% endif %}

	{% thumbnail object.photo "100x100" crop="center" as im %}
    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.name }}">
	{% empty %}
		<p>No image</p>
	{% endthumbnail %}

{% endblock %}
