{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}
{% load theatre_tags %}

{% block title %}
	{{ block.super }}Артист - {{ object.last_name }} {{ object.name }}{% if object.middle_name %} {{ object.middle_name }}{% endif %}
{% endblock title %}

{% block description %}
	Студия-Театр Манекен - {{ object.name }}
{% endblock description %}

{% block head %}
	{{ block.super }}
	<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ object.photo.url }}" />
  <meta property="og:image:width" content="{{ object.photo.width }}" />
  <meta property="og:image:height" content="{{ object.photo.height }}" />

  <meta property="og:type" content="article" />
  <meta property="og:article:published_time" content="" />
  <meta property="og:title" content="{{ object.name }} {{ artist.last_name }} студии-театра «Манекен»" />
  <meta property="og:description" content="{{ object.description|safe|truncatewords:15 }}" />
{% endblock head %}

{#% load compress %#}

{% block content %}

	<h1 class="h1">
		{{ object.last_name }} {{ object.name }}{% if object.middle_name %} {{ object.middle_name }}{% endif %}
	</h1>

	<div class="artist-detail">

		{% if object.description %}
			<div class="artist-detail__description">
				{{ object.description|safe }}
		
				{% if object.year %}
					<div>В студии с {{ object.year }} года.</div>
				{% endif %}
			</div>
		{% endif %}


		{% if object.photo %}
			<div class="artist-detail__image">
				{% thumbnail object.photo "685x500" crop="center" as im %}
					<img class="entry-card__image-img artist-detail__image-img" src="{{ im.url }}" title="{% get_propertie 'site_name' %} {{ object.name }} {{ artist.last_name }}" alt="{{ object.name }} {{ artist.last_name }}" width="{{ im.width }}" height="{{ im.height }}">
				{% empty %}
					<p>No image</p>
				{% endthumbnail %}
			</div>
		{% endif %}

	</div>

	{% if as_director or as_light or as_sound or as_painter or as_artist_list %}
		<p>Можно увидеть в спектаклях:</p>
	{% endif %}

	{% with name="director"%}  
		{% include "include/artist_performance_list.html" with performance_list=as_director artist=artist name=name %}
	{% endwith %}
	{% with name="light"%}  
		{% include "include/artist_performance_list.html" with performance_list=as_light artist=artist name=name %}
	{% endwith %}
	{% with name="sound"%}  
		{% include "include/artist_performance_list.html" with performance_list=as_sound artist=artist name=name %}
	{% endwith %}
	{% with name="painter"%}  
		{% include "include/artist_performance_list.html" with performance_list=as_painter artist=artist name=name %}
	{% endwith %}
	{% with name="artists"%}  
		{% include "include/artist_performance_list.html" with performance_list=as_artist_list artist=artist name=name %}
	{% endwith %}

{% endblock %}
