{% extends "base/base.html" %}

{% load static %}
{% load cache %}

{% block title %}{{ block.super }}Артисты{% endblock %}
{% block description %}Артисты студии театр Манекен. Роли, участие в спектаклях{% endblock description %}
{#% load compress %#}

{% block content %}
	<h1 class="h1 line-title">Люди студии</h1>
	
  <div class="entry-list">
  	{% for artist in artist_list %}
  		{% include "include/artist_card.html" with artist=artist %}
  	{% empty %}
  	  <p>Тут пока пусто</p>
  	{% endfor %}
  </div>
{% endblock %}