{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load theatre_tags %}
{% load sitetree %}

{% block title %}{{ block.super }}Наши Контакты{% endblock %}

{% block content %}
    <h1 class="h1">Наши контакты</h1>

    <p>Телефон студии <a href="tel:{% get_propertie 'phone' %}">{% get_propertie 'phone' %}</a></p>

    <p>По разным вопросам - <a href="mailto:{% get_propertie 'email' %}">{% get_propertie 'email' %}</a></p>

    {# <p>Написать письмо художественному руководителю - Филонов Владимир Фёдорович - </p> #}

    Мы в соцсетях 

    <div class="contacts__social">
      {% sitetree_menu from "menu_social" include "trunk,topmenu" template "sitetree/menu_social.html" %}    
    </div>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A36d15149420c22d5d585930914017b9ca3672768d424fa0c67adc1f77927aa02&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}