{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}

{% block title %}{{ block.super }}Челябинск Студия-Театра Манекен{% endblock %}

{% block head %}
	{{ block.super }}
	<script src="https://vk.com/js/api/openapi.js?162"></script>	
{% endblock head %}

{#% load compress %#}

{% block content %}
  <h1 style="font-size: 0;visibility: hidden;">Челябинск Студия-Театра Манекен</h1>
	<div class="h1">Афиша</div>

	<div id="timepad">
		<script async="async" defer="defer" charset="UTF-8" src="https://timepad.ru/js/tpwf/loader/min/loader.js" data-timepad-customized="50377" data-timepad-apidomain="timepad.ru" data-timepad-widget-v2="event_list3"></script>
	</div>

  <div class="h1">Спектакли</div>
  {% if performance_list %}
	  {% for performance in performance_list %}
	    {% include "include/performance_card.html" with preformance=preformance %}
	  {% endfor %}

		<div class="performance-card__wrap">
			<a class="performance-card" href="/performance/">
				<div class="performance-card__more button">
					<div class="performance-card__more">Ещё</div>
				</div>
			</a>
		</div>
  {% else %}
	    <p>No performances are available.</p>
  {% endif %}


  <div class="h1">Люди театра</div>
  <div class="artist-list">
    {% if artist_list %}
    	{% for artist in artist_list %}
  		  {% include "include/artist_card.html" with artist=artist %}
    	{% endfor %}
      <div class="artist-card__wrap">
        <div class="artist-card">
        	<a class="artist-card__more button" href="/artist/">
    	    	<div class="artist-card__title">Ещё</div>
        	</a>
        </div>
      </div>
  	{% else %}
  	  <p>No artists are available.</p>
    {% endif %}
  </div>


	{% comment %}
	{% for poster in poster_list %}
		<h2 class="h2">{{ poster.name }}</h2>
		<div>{{ poster.description }}</div>
		<div>{{ poster.event }}</div>
		<div>{{ poster.event_date }}</div>
		<div class="poster__image">
			{% thumbnail poster.photo "100x100" crop="center" as im %}
				<img class="poster__image-img" src="{{ im.url }}" alt="{{ poster }}" width="{{ im.width }}" height="{{ im.height }}">
			{% empty %}
				<p>No image</p>
			{% endthumbnail %}
		</div>
	{% empty %}
		<p>Сезон закрыт, товарищи!</p>
	{% endfor %}
	{% endcomment %}
	
	<div class="h1">Мы ВКонтакте!</div>

	<!-- VK Widget --> 
	<div id="vk_groups"></div> 
	<script onload="showvk()" data-aload="https://vk.com/js/api/openapi.js?162"></script>

	<script>
		function showvk() {
			VK.Widgets.Group("vk_groups", {
				mode: 4,
				height: "400",
				width: window.innerWidth > 960 ? 940 : window.innerWidth - 40
			}, 678386);
		}

		window.onload = function () {
			aload();
		};
	</script>

{% endblock %}