{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}

{% block title %}Официальный сайт{% endblock %}

{#% load compress %#}

{% block content %}

  <h1 class="h1">Спектакли</h1>
  {% for performance in performance_list %}
    {% include "include/performance_card.html" with preformance=preformance %}
  {% empty%}
    <p>No performances are available.</p>
  {% endfor %}


  <h1 class="h1">Люди театра</h1>
  <div class="entry-list">
  	{% for artist in artist_list %}
  		{% include "include/artist_card.html" with artist=artist %}
  	{% empty %}
  	  <p>No artists are available.</p>
  	{% endfor %}
  </div>

	<h1 class="h1">Афиша</h1>
	{% for poster in poster_list %}
		<h2 class="h2">{{ poster.name }}</h2>
		<div>{{ poster.description }}</div>
		<div>{{ poster.event }}</div>
		<div>{{ poster.event_date }}</div>
		<div class="poster__image">
			{% thumbnail poster.photo "100x100" crop="center" as im %}
				<img class="poster__image-img" src="{{ im.url }}" alt="{{ poster }}" width="{{ im.width }}" height="{{ im.height }}">
			{% empty %}
				<p>No image</p>
			{% endthumbnail %}
		</div>
	{% empty %}
		<p>Сезон закрыт, товарищи!</p>
	{% endfor %}

{% endblock %}