{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}

{% block title %}{{ block.super }}STM{% endblock %}

{% block head %}
	{{ block.super }}
{% endblock head %}

{#% load compress %#}

{% block content %}

  {% if fest.photo %}
		<div class="main-tizer">
			<div class="main-tizer__images">
	        <div class="fest__section">
	        	<a href="{{ fest.slug }}">
              <img src="{{ STATIC_URL|add:fest.photo.path }}" alt="" style="width: 100%;">            
	        	</a>
	        </div>
			</div>
		</div>
  {% endif %}

  <div class="tickets-button">
    <a href="/poster/" class="tickets-button__link">Купить билеты</a>
  </div>

	<h1 class="h1 line-title">Афиша</h1>

	<div id="timepad">
		<script async="async" defer="defer" charset="UTF-8" src="https://timepad.ru/js/tpwf/loader/min/loader.js" data-timepad-customized="50377" data-timepad-apidomain="timepad.ru" data-timepad-widget-v2="event_list3"></script>
	</div>

  <div class="h1 line-title">Спектакли</div>
  {% if performance_list %}
	  {% for performance in performance_list %}
	    {% include "include/performance_card.html" with preformance=preformance %}
	  {% endfor %}

		<div class="performance-card__wrap">
			<a class="performance-card" href="/performance/">
				<div class="performance-card__more button">
					<div class="performance-card__more">Ещё</div>
				</div>
			</a>
		</div>
  {% else %}
	    <p>No performances are available.</p>
  {% endif %}


  <div class="h1 line-title">Люди студии</div>
  <div class="artist-list">
    {% if artist_list %}
    	{% for artist in artist_list %}
  		  {% include "include/artist_card.html" with artist=artist %}
    	{% endfor %}
      <div class="artist-card__wrap">
        <div class="artist-card">
        	<a class="artist-card__more button" href="/artist/">
    	    	<div class="artist-card__title">Ещё</div>
        	</a>
        </div>
      </div>
  	{% else %}
  	  <p>No artists are available.</p>
    {% endif %}
  </div>


	{% comment %}
	{% for poster in poster_list %}
		<h2 class="h2">{{ poster.name }}</h2>
		<div>{{ poster.description }}</div>
		<div>{{ poster.event }}</div>
		<div>{{ poster.event_date }}</div>
		<div class="poster__image">
			{% thumbnail poster.photo "100x100" crop="center" as im %}
				<img class="poster__image-img" src="{{ im.url }}" alt="Студия-Театр «Манекен» {{ poster }}" width="{{ im.width }}" height="{{ im.height }}">
			{% empty %}
				<p>No image</p>
			{% endthumbnail %}
		</div>
	{% empty %}
		<p>Сезон закрыт, товарищи!</p>
	{% endfor %}
	{% endcomment %}

{% endblock %}