{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}
{#% load compress %#}

{% block title %}{{ block.super }}Спектакль {{ object.name }}{% endblock %}

{% block content %}
	<h1 class="h1">{{ object.name }}</h1>
	{# <div> #}
		{# <span>Спектакль: </span> #}
		{# <span>{{ object.name }}</span> #}
	{# </div> #}
	<div class="performance-detail">
		<div>
			{{ object.description|safe }}
		</div>

		<div class="performance-detail__image">
			{% if object.photo %}
    			<img class="entry-card__image-img performance-card__image-img" src="/media/{{ object.photo }}" width="{{ object.photo.width }}" height="{{ object.photo.height }}" title="Студия-Театр «Манекен» STM Челябинск {{ object.name }}" alt="Спектакль {{ object.name }}">
			{% endif %}
		</div>
	</div>

	{% if object.genre %}
		<div>
			<span>Жанр: </span><span>{{ object.genre }}</span>
		</div>
	{% endif %}

	{% if object.premiere_date %}
		<div>
			<span>Премьера: </span>{{ object.premiere_date }}
		</div>
	{% endif %}

	<div>
		<h2 class="h2">Другие спектакли</h2>
		{% for performance in performance_list %}
			{% include "include/performance_card.html" with preformance=preformance %}
		{% endfor %}
	</div>
{% endblock %}

