{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}
{#% load compress %#}

{% block title %}{{ block.super }} Официальный сайт{% endblock %}

{% block content %}
	<h1 class="h1">{{ object.name }}</h1>
	{# <div> #}
		{# <span>Спектакль: </span> #}
		{# <span>{{ object.name }}</span> #}
	{# </div> #}
	<div>
		{% thumbnail object.photo "100x100" crop="center" as im %}
		    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.name }}">
	    {% empty %}
    		<p>No image</p>
		{% endthumbnail %}
	</div>

	<div>
		{{ object.description|safe }}
	</div>

	<div>
		<span>Жанр: </span><span>{{ object.genre }}</span>
	</div>
	<div>
		<span>Премьера: </span>{{ object.premiere_date }}
	</div>

	<div>
		<h2 class="h2">Другие спектакли</h2>
		{% for performance in performance_list %}
			{% include "include/performance_card.html" with preformance=preformance %}
		{% endfor %}
	</div>

	{# <div>{{ object.votes_yes }}</div> #}
	{# <div>{{ object.votes_no }}</div> #}
	<!-- <div>
		{% for artist in object.artists.items %}
			<div>
				{{ artist }}
			</div>
		{% empty %}
	    		<p>No artists</p>
		{% endfor %}
	</div> -->
{% endblock %}

