{% extends "base/base.html" %}

{% load static %}
{% load cache %}

{% block title %}{{ block.super }}Спектакли{% endblock %}
{% block description %}Спектакли студии театр Манекен. Труппа, артисты, участники. Действующие спектакли. Ушедшие в архиве{% endblock description %}

{#% load compress %#}

{% block content %}
    <h1 class="h1">Спектакли</h1>

    {% for performance in performance_list %}
      {% include "include/performance_card.html" with performance=performance %}
    {% empty%}
      <p>No performances are available.</p>
    {% endfor %}

    {% if performance_list_archive %}
      <h2 class="h1">Спектакли в архиве</h2>
      {% for performance in performance_list_archive %}
        {% include "include/performance_card.html" with performance=performance %}
      {% endfor %}
    {% endif %}

{% endblock %}