{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load thumbnail %}
{% load theatre_tags %}
{#% load compress %#}

{% block title %}{{ block.super }}Спектакль {{ object.name }}{% endblock title %}
{% block description %}Студия-Театр Манекен - Спектакль {{ object.name }}{% endblock description %}

{% block head %}
	{{ block.super }}
	<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ object.photo.url }}" />
  <meta property="og:image:width" content="{{ object.photo.width }}" />
  <meta property="og:image:height" content="{{ object.photo.height }}" />

  <meta property="og:type" content="article" />
  <meta property="og:article:published_time" content="" />
  <meta property="og:title" content="Спектакль {{ object.name }} студии-театра «Манекен»" />
  <meta property="og:description" content="{{ object.description|safe|truncatewords:15 }}" />
{% endblock head %}

{% block content %}
	<h1 class="h1">{{ object.name }}</h1>
	{# <div> #}
		{# <span>Спектакль: </span> #}
		{# <span>{{ object.name }}</span> #}
	{# </div> #}
	<div class="performance-detail">

		<div class="performance-detail__description">

			{{ object.description|safe }}
			
			<div>
				{% if performance.duration %}
					<div class="performance-detail__duration">
						<img class="performance-detail__duration-icon" src="{% static 'i/clock.svg' %}" />
						<span>Продолжительность: {{ performance.duration }}</span>
					</div>
				{% endif %}
			</div>

			{% if director or light or sound or painter or artist_list %}
			{% endif %}

			{% with name="director"%}  
				{% include "include/performance_artist_list.html" with artist_list=director performance=performance name=name %}
			{% endwith %}
			{% with name="light"%}  
				{% include "include/performance_artist_list.html" with artist_list=light performance=performance name=name %}
			{% endwith %}
			{% with name="sound"%}  
				{% include "include/performance_artist_list.html" with artist_list=sound performance=performance name=name %}
			{% endwith %}
			{% with name="painter"%}  
				{% include "include/performance_artist_list.html" with artist_list=painter performance=performance name=name %}
			{% endwith %}
			{% with name="artists"%}  
				{% include "include/performance_artist_list.html" with artist_list=artist_list performance=performance name=name %}
			{% endwith %}
		</div>

		<div class="performance-detail__image">
			{% if object.photo %}
    			<img class="entry-card__image-img performance-detail__image-img" src="{{ object.photo.url }}" width="{{ object.photo.width }}" height="{{ object.photo.height }}" title="{% get_propertie 'site_name' %} {{ object.name }}" alt="Спектакль {{ object.name }}">
			{% endif %}
		</div>

	</div>

	{% if object.genre %}
		<div>
			<span>Жанр: </span><span>{{ object.genre }}</span>
		</div>
	{% endif %}

	{% if object.premiere_date %}
		<div>
			<span>Премьера: </span>{{ object.premiere_date }}
		</div>
	{% endif %}

	<div>
		<h2 class="h2">Другие спектакли</h2>
		{% for performance in performance_list %}
			{% include "include/performance_card.html" with preformance=preformance %}
		{% endfor %}
	</div>
{% endblock %}

