{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% block title %}Unifest{% endblock %}
{#% load compress %#}

{% block content %}
    <h1 class="h1 u__title">Unifest</h1>
    <div class="u__date">
    	<div class="u__day">13 - 17 сентября</div>
    	<div class="u__month"></div>
    	<div class="u__year">2019 года</div>
    </div>
    <!-- <div class="u__request">
        <a href="#u-request" class="button u__request-link">Подать заявку</a>
    </div> -->
    <div id="u-request" class="u__request-container">
    	<form action="/unifest/request/" class="u__request-form"></form>
    </div>
    <div class="h1">Организаторы</div>
    <div class="h2">Мы, Студия-театр Манекен</div>
    <hr>
    <div class="h1">Контакты</div>
    <div class="h2">Тел.: +7 (351) 267-94-77</div>
    <hr>

{% endblock %}