{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% block title %}{{ block.super }}Unifest - Фестиваль Студии-Театра Манекен{% endblock %}
{#% load compress %#}

{% block content %}
    <div class="u__section">
        <h1 class="u__title">Unifest</h1>
        
        <div class="u__date">
            <div class="u__day">13 - 17 сентября</div>
            <div class="u__month"></div>
            <div class="u__year">2019 года</div>
        </div>
        
        <div class="h2 u__desc">Фестиваль с большой буквы <span class="u__title">U</span></div>

        <div class="u__request">
            <a href="#about" class="button u__request-link">О фестивале</a>
            <a href="#organizers" class="button u__request-link">Организаторы</a>
            <a href="#poster" class="button u__request-link">Программа фестиваля</a>
            <a href="#contacts" class="button u__request-link">Контакты</a>
        </div>
    </div>

    <div class="u__section" id="about">
        <div class="h1">О фестивале</div>
        <div class="h2">2006, 2008, 2010, 2013, 2015… 
            За эти годы челябинское театральное действо <img class="u__title-mini" src="{% static 'unifest/title.png' %}" alt="unifest"> стало гостеприимным домом для более полусотни театров из десятков стран мира. К 2015 году <img class="u__title-mini" src="{% static 'unifest/title_bw.png' %}" alt="unifest"> вырос до всемирно известного фестиваля и молодёжного театрального движения. Сегодня мы вновь готовимся к <img class="u__title-mini" src="{% static 'unifest/title.png' %}" alt="unifest">-явлению – яркому и живому культурному событию Челябинска, которое пройдет в нашем городе с 13 по 17 сентября 2019 года.</div>
        <hr>
    </div>

    <div class="u__section" id="organizers">
        <div class="h1">Организаторы</div>
        <div class="h2">Мы, Студия-театр Манекен</div>
        <hr>
    </div>

    <div class="u__section" id="poster">
        <div class="h1">Программа фестиваля</div>
        {# <div class="h2">Сразу, как только определимся</div> #}
        <script async="async" defer="defer" charset="UTF-8" src="https://timepad.ru/js/tpwf/loader/min/loader.js" data-timepad-customized="50377" data-timepad-apidomain="timepad.ru" data-timepad-widget-v2="event_list3"></script>
        <hr>
    </div>


    {% comment %}
    <div class="u__section">
        <div class="h1">Мастер-классы</div>
        <div class="h2">Мастер-классы</div>
        <hr>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="h1">Подать заявку</div>
    <div class="h2">Заполните <a href="/media/uploads/zayavka.docx" target="_blank" class="u__link u__request-file">ЗАЯВКУ</a> и пришлитё её нам с помощью формы ниже! Не забудьте ознакомиться с <a href="/media/uploads/polozhenie_unifest.docx" target="_blank" class="u__link u__request-file">ПОЛОЖЕНИЕМ</a>!
        <!-- придёт к нам на почту и мы с вами свяжемся! --></div>

    <div id="u-form" class="u__form-container">
        <form action="/unifest/" class="u__form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {# {{ form }} #}
            {% for field in form %}
                <div class="u__form-field">
                    {{ field }}
                </div>
            {% endfor %}
            <input class="button u__form-submit" type="submit" value="Отправить">
        </form>
    </div>
    {% endcomment %}

    {% comment %}
        <div id="u-form" class="u__section">
            <div class="h1">Регистрация для зрителей</div>
            <div class="h2">Вход на открыте <img class="u__title-mini" src="{% static 'unifest/title.png' %}" alt="unifest"> только для зарегистрированных участников!</div>

            <div class="u__form-container">
                <form action="/unifest/" class="u__form" method="post">
                    {% csrf_token %}
                    {# {{ form }} #}
                    {% for field in form %}
                        <div class="u__form-field">
                            {% if field.label %}
                                <label for="{{ field.name }}">{{ field.label }}:</label>
                            {% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input class="button u__form-submit" type="submit" value="Отправить">
                </form>
            </div>
            <hr>
        </div>
    {% endcomment %}


    {% comment %}
    <div class="u__section">
        <div class="h1">Наши партнёры</div>
        <div class="h2">МинКульт Челябинской области</div>
        <hr>
    </div>
    {% endcomment %}

    <div class="u__section" id="contacts">
        <div class="h1">Контакты</div>
        <div class="h2">Челябинск, Сони Кривой 79а</div>
        <div class="h2"><a href="tel:+73512679477" class="u__link u__phone">Тел.: +7 (351) 267-94-77</a></div>
        <div class="h2"><a href="mailto:unifest@maneken.studio" class="u__link u__email"><img class="u__title-mini" src="{% static 'unifest/title.png' %}" alt="unifest">@maneken.studio</a></div>
        <hr>
    </div>


{% endblock %}